@font-face {
    font-family: 'DejaVuSansMono';
    src: url('fonts/dejavu/DejaVuSansMono-webfont.eot');
    src: url('fonts/dejavu/DejaVuSansMono-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dejavu/DejaVuSansMono-webfont.woff') format('woff'),
         url('fonts/dejavu/DejaVuSansMono-webfont.ttf') format('truetype'),
         url('fonts/dejavu/DejaVuSansMono-webfont.svg#webfontKMM3nOA8') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DejaVuSansMono';
    src: url('fonts/dejavu/DejaVuSansMono-Oblique-webfont.eot');
    src: url('fonts/dejavu/DejaVuSansMono-Oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dejavu/DejaVuSansMono-Oblique-webfont.woff') format('woff'),
         url('fonts/dejavu/DejaVuSansMono-Oblique-webfont.ttf') format('truetype'),
         url('fonts/dejavu/DejaVuSansMono-Oblique-webfont.svg#webfont6UGvJmb8') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'DejaVuSansMono';
    src: url('fonts/dejavu/DejaVuSansMono-Bold-webfont.eot');
    src: url('fonts/dejavu/DejaVuSansMono-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dejavu/DejaVuSansMono-Bold-webfont.woff') format('woff'),
         url('fonts/dejavu/DejaVuSansMono-Bold-webfont.ttf') format('truetype'),
         url('fonts/dejavu/DejaVuSansMono-Bold-webfont.svg#webfontsmclDnj1') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'DejaVuSansMono';
    src: url('fonts/dejavu/DejaVuSansMono-BoldOblique-webfont.eot');
    src: url('fonts/dejavu/DejaVuSansMono-BoldOblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dejavu/DejaVuSansMono-BoldOblique-webfont.woff') format('woff'),
         url('fonts/dejavu/DejaVuSansMono-BoldOblique-webfont.ttf') format('truetype'),
         url('fonts/dejavu/DejaVuSansMono-BoldOblique-webfont.svg#webfontIFS0kNTn') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Ostrich';
    src: url('fonts/ostrich/ostrich-regular-webfont.eot');
    src: url('fonts/ostrich/ostrich-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ostrich/ostrich-regular-webfont.woff') format('woff'),
         url('fonts/ostrich/ostrich-regular-webfont.ttf') format('truetype'),
         url('fonts/ostrich/ostrich-regular-webfont.svg#OstrichSansMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Ostrich';
    src: url('fonts/ostrich/ostrich-black-webfont.eot');
    src: url('fonts/ostrich/ostrich-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ostrich/ostrich-black-webfont.woff') format('woff'),
         url('fonts/ostrich/ostrich-black-webfont.ttf') format('truetype'),
         url('fonts/ostrich/ostrich-black-webfont.svg#OstrichSansBlack') format('svg');
    font-weight: bold;
    font-style: normal;
}



* {
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 100%;
}
html{
    margin: 0;
    padding: 0;
    background: #111;
    background-image: url(images/background.png);
    background-repeat: repeat;
}
body {
    width: 800px;
    margin: 10px auto;
    padding: 2em;
    background-color: #000;
    background-color: rgba(0, 0, 0, .5);
    color: #ccc;
}
body:after {
    content: "";
    display: block;
    clear: both;
}


/* SCREEN SPECIFIC */
@media screen and (max-width: 800px) {
    html {
        padding: 2em;
        background-color: #fff;
    }
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}
@media screen and (max-device-width: 800px) {
    * {
        font-size: 120%;
    }
}
@media screen and (max-device-width: 800px) and (orientation: portrait) {
    * {
        font-size: 150%;
    }
}

/* HEADINGS */
h1 {
    margin: 1em 0;
    border-bottom: solid 1px #eee;
    color: #eee;
    clear: both;
    font-family: Ostrich;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 2px;
}
h1:first-child {
    margin-top: 0;
}
h2 {
    margin: 1em 0;
    color: #9c9;
    border-bottom: solid 1px #9c9;
    clear: both;
    font-family: Ostrich;
    font-weight: normal;
    font-size: 2em;
}
h3 {
    margin: 1em 0;
    color: #363;
    clear: both;
    font-family: Ostrich;
    font-weight: normal;
    font-size: 1.8em;
}
h4 {
    margin: 1em 0;
    color: #363;
    clear: both;
    font-family: Ostrich;
    font-weight: normal;
    font-size: 1.6em;
}
h5 {
    margin: 1em 0;
    color: #363;
    clear: both;
    font-family: Ostrich;
    font-weight: normal;
    font-size: 1.4em;
}
h6 {
    margin: 1em 0;
    color: #363;
    clear: both;
    font-family: Ostrich;
    font-weight: normal;
    font-size: 1.2em;
}

/* LINKS */
a {
    color: #090;
    font-size: 1em;
}
a:hover {
    color: #0f0;
}
a:active {
    color: #060;
}


/* PARAGRAPH */
p {
    font-size: 1em;
}

/* PHRASE MODIFIERS */
sup, sub {
    font-size: .8em;
}
strong, em {
    font-size: 1em;
}

/* BLOCKQUOTE */
blockquote {
    padding: 0;
    margin: 0 0 .5em 2em;
    padding: 10px 2.5em 10px 2.5em;
    position: relative;
    background-color: #222;
    color: #ccc;
    text-align: justify;
    -webkit-box-shadow: 0px 0px 5px #000;
    -moz-box-shadow: 0px 0px 5px #ababab;
    box-shadow: 0px 0px 5px #000;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
blockquote p:first-child {
    margin-top: 0;
}
blockquote p:last-child {
    margin-bottom: 0;
}
blockquote:before {
    content: "❝";
    position: absolute;
    top: .2em;
    left: .2em;
    font-size: 2em;
    color: #ccc;
}
blockquote:after {
    content: "❞";
    float: right;
    margin-top: -1ex;
    margin-right: -1em;
    font-size: 2em;
    color: #ccc;
}


/* TABLES */
table {
    margin: .5em 0;
    border-collapse: separate;
    border-spacing: 2px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border: solid 1px #151515;
}
th, td {
    padding: .2em .5em;
}
th {
    background: #030;
    background: -moz-linear-gradient(top, #060 0%, #030 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#060), color-stop(100%,#030));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006600', endColorstr='#003300',GradientType=0 );
    color: #ddd;
    text-shadow: 0px 1px 1px #333;
    text-align: left;
}
th:first-child {
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
}
th:last-child {
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
}
tr {
    background-color: #101010;
}
tr:nth-child(odd) {
    background-color: #191919;
    border: solid 1px #333;
}
tr:last-child td:first-child {
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
}
tr:last-child td:last-child {
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;
}


/* BROWSE */
.browse {
    list-style: none;
    margin: 0;
    padding: 0;
}
    .browse li {
        margin: 5px;
    }
    .browse a {
        display: block;
        text-decoration: none;
        background-repeat: no-repeat;
        background-position: 5px center;
        padding: 3px 3px 3px 25px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    .browse a:hover {
        background-color: #333;
    }
    .browse a:active {
        background-color: #222;
    }
    .browse a.file {
        background-image: url(images/page_white.png);
    }
    .browse a.folder {
        background-image: url(images/folder.png);
    }

/* CODE */
pre {
    overflow: auto;
    border: solid 2px #333;
    padding: 1.7em .5em .5em .5em;
    background-color: #222;
    font-family: "DejaVuSansMono", monospace;
    font-size: 1em;
}
pre * {
    font-family: "DejaVuSansMono", monospace;
    font-size: 1em;
}
code {
    font-family: "DejaVuSansMono", monospace;
    font-size: .9em;
}
pre:before {
    content: "Code";
    display: block;
    position: absolute;
    color: #ccc;
    font-size: 1em;
    font-weight: bold;
    line-height: 1em;
    height: 1em;
    padding: .1em 5em .2em .5em;
    margin: -1.7em -.5em 0 -.5em;
    text-shadow: 0px 0px 2px #666;
    filter: dropshadow(color=#666666, offx=0, offy=0);
    background: #333;
    background: -moz-linear-gradient(left, #333 0%, #222 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#333), color-stop(100%,#222));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#222222',GradientType=1 );
}

.sh_keyword { color: blue; font-weight: bold; }             /** language keywords */
.sh_type { color: darkgreen; }                              /** basic types */
.sh_usertype { color: teal; }                               /** user defined types */
.sh_string { color: red; }                                  /** strings and chars */
.sh_regexp { color: orange; }                               /** regular expressions */
.sh_specialchar { color: pink; }                            /** e.g., \n, \t, \\ */
.sh_comment { color: brown; font-style: italic; }           /** comments */
.sh_number { color: purple; }                               /** literal numbers */
.sh_preproc { color: darkblue; font-weight: bold; }         /** e.g., #include, import */
.sh_symbol { color: darkred; }                              /** e.g., <, >, + */
.sh_function { color: black; font-weight: bold; }           /** function calls and declarations */
.sh_cbracket { color: red; }                                /** block brackets (e.g., {, }) */
.sh_todo { font-weight: bold; background-color: cyan; }     /** TODO and FIXME */
.sh_classname { color: teal; }                              /** for OOP */
.sh_linenum { color: black; }                               /** line numbers (not yet implemented) */
.sh_url { color: blue; text-decoration: underline; }        /** Internet related */
.sh_variable { color: darkgreen; }                          /** for Prolog, Perl... */

/** for ChangeLog and Log files */
.sh_date { color: blue; font-weight: bold; }
.sh_time, pre.sh_sourceCode .sh_file { color: darkblue; font-weight: bold; }
.sh_ip, .sh_name { color: darkgreen; }

/** for LaTeX */
.sh_italics { color: darkgreen; font-style: italic; }
.sh_bold { color: darkgreen; font-weight: bold; }
.sh_underline { color: darkgreen; text-decoration: underline; }
.sh_fixed { color: green; }
.sh_argument { color: darkgreen; }
.sh_optionalargument { color: purple; }
.sh_math { color: orange; }
.sh_bibtex { color: blue; }

/** for diffs */
pre.sh_sourceCode .sh_oldfile { color: orange; }
pre.sh_sourceCode .sh_newfile { color: darkgreen; }
pre.sh_sourceCode .sh_difflines { color: blue; }

/** for css */
pre.sh_sourceCode .sh_selector { color: purple; }
pre.sh_sourceCode .sh_property { color: blue; }
pre.sh_sourceCode .sh_value { color: darkgreen; font-style: italic; }

/** other */
pre.sh_sourceCode .sh_section { color: black; font-weight: bold; }
pre.sh_sourceCode .sh_paren { color: red; }
pre.sh_sourceCode .sh_attribute { color: darkgreen; }




/** Captions */
pre.textile:before {
    content: "Textile";
}
pre.javascript:before {
    content: "Javascript";
}
pre.html:before {
    content: "HTML";
}
pre.bison:before {
    content: "Bison";
}
pre.c:before {
    content: "C";
}
pre.changelog:before {
    content: "Changelog";
}
pre.code:before {
    content: "Code";
}
pre.cpp:before {
    content: "C++";
}
pre.css:before {
    content: "CSS";
}
pre.diff:before {
    content: "Diff";
}
pre.haxe:before {
    content: "HaXe";
}
pre.java:before {
    content: "Java";
}
pre.latex:before {
    content: "LaTeX";
}
pre.log:before {
    content: "Log";
}
pre.makefile:before {
    content: "Make file";
}
pre.pascal:before {
    content: "Pascal";
}
pre.perl:before {
    content: "Perl";
}
pre.php:before {
    content: "PHP";
}
pre.prolog:before {
    content: "Prolog";
}
pre.properties:before {
    content: "Properties";
}
pre.python:before {
    content: "Python";
}
pre.ruby:before {
    content: "Ruby";
}
pre.scala:before {
    content: "Scala";
}
pre.sh:before {
    content: "sh";
}
pre.sql:before {
    content: "SQL";
}
pre.xml:before {
    content: "XML";
}
pre.xorg:before {
    content: "xorg";
}
pre.bash:before {
    content: "bash";
}




/* TOOLBAR */
#toolbar {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 2em;
    border-bottom: solid 1px #999;

    background: #000;
    background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
    -webkit-box-shadow: 0px 1px 5px #000;
    -moz-box-shadow: 0px 1px 5px #000;
    box-shadow: 0px 1px 5px #000;
}
#toc {
    background-color: #000;
    color: #ddd;
    border: solid 1px #999;
    border-top: solid 1px #000;
    border-right: solid 1px #000;
    padding: 10px;
    position: absolute;
    top: 2em;
    right: 0;
    -webkit-box-shadow: 0px 1px 5px #000;
    -moz-box-shadow: 0px 1px 5px #000;
    box-shadow: 0px 1px 5px #000;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
}
    #toc * {
        font-size: .9em;
        margin: 0 0 .5em 0;
    }
    #toc a {
        color: inherit;
        font-size: 1em;
        text-decoration: none;
    }
    #toc a:hover {
        color: #fff;
        text-decoration: underline;
    }
    #toc .level1 {
    }
    #toc .level2 {
        margin-left: 1.5em;
    }
    #toc .level3 {
        margin-left: 3em;
    }
    #toc .level4 {
        margin-left: 4.5em;
    }
    #toc .level5 {
        margin-left: 6em;
    }
    #toc .level6 {
        margin-left: 7.5em;
    }


#search {
    padding: .25em;
}
    #search input {
        font-size: .9em;
        background: #000;
        color: #fff;
        border: solid 1px #ddd;
        background-image: url(images/search.png);
        background-repeat: no-repeat;
        background-position: 2px center;
        padding-left: 20px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    #search input.loading {
        background-image: url(images/loading.gif);
    }
    #search input:focus {
        -webkit-box-shadow: 0px 0px 4px #ff0;
        -moz-box-shadow: 0px 0px 4px #ff0;
        box-shadow: 0px 0px 4px #ff0;
        outline: none;
    }
#searchResult {
    display: none;
    position: absolute;
    top: 2em;
    left: 0;
    background-color: #000;
    color: #ddd;
    border: solid 1px #999;
    border-top: solid 1px #000;
    border-left: solid 1px #000;
    padding: 10px;
    -webkit-box-shadow: 0px 1px 5px #000;
    -moz-box-shadow: 0px 1px 5px #000;
    box-shadow: 0px 1px 5px #000;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-right-radius: 10px;
}
    #searchResult p {
        font-size: .9em;
        margin: 0;
    }
    #searchResult h1 {
        font-size: .9em;
        border: none;
        color: #fff;
        background-color: inherit;
        margin: 0 0 .8em 0;
        text-decoration: underline;
    }
    #searchResult ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: .9em;
    }
    #searchResult li {
        margin: .4em 0;
    }
    #searchResult a {
        color: #ddd;
        text-decoration: none;
    }
    #searchResult a:hover {
        color: #fff;
        text-decoration: underline;
    }
    #searchResult .error {
        color: #f99;
        font-weight: bold;
    }



