/* TOOLBAR */
#toolbar {
    display: none !important;
}

/* HEADINGS */
h1, h2 {
    border-bottom: solid 1px #000;
}


/* TABLE */
table {
    border: solid 1px #999;
    border-collapse: collapse;
}
th, td {
    border: solid 1px #999;
    padding: .2em .5em;
}
th {
    background-color: #999;
    color: #fff;
}


/* CODE */
pre {
    border: solid 1px #999;
    overflow: auto;
    padding: .5em;
}
pre:before {
    display: block;
    border-bottom: dotted 1px #999;
    margin-bottom: .5em;
}
pre.textile:before {
    content: "Textile";
}
pre.javascript:before {
    content: "Javascript";
}
pre.html:before {
    content: "HTML";
}
pre.bash:before {
    content: "Bash";
}

